n8n_workflows/rfp_intake_workflow.json
{
  "name": "RFP Intake Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rfp-intake",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "RFP Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.API_BASE_URL}}/api/documents/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "multipart/form-data"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $json.file }}"
            },
            {
              "name": "client_name",
              "value": "={{ $json.client_name }}"
            },
            {
              "name": "sector",
              "value": "={{ $json.sector }}"
            },
            {
              "name": "submission_deadline",
              "value": "={{ $json.submission_deadline }}"
            }
          ]
        }
      },
      "id": "upload-document",
      "name": "Upload Document to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-ocr",
              "leftValue": "={{ $json.ocr_used }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-ocr",
      "name": "OCR Used?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.API_BASE_URL}}/api/analyze",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"rfp_id\": \"{{ $json.rfp_id }}\",\n  \"run_full_workflow\": true\n}"
      },
      "id": "trigger-analysis",
      "name": "Trigger Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [910, 300]
    },
    {
      "parameters": {
        "fromEmail": "rfp-system@example.com",
        "toEmail": "={{ $env.NOTIFICATION_EMAIL }}",
        "subject": "RFP Uploaded: {{ $json.filename }}",
        "text": "A new RFP has been uploaded and is being analyzed.\n\nRFP ID: {{ $json.rfp_id }}\nFilename: {{ $json.filename }}\nOCR Used: {{ $json.ocr_used }}\n\nAnalysis has been triggered automatically."
      },
      "id": "notify-upload",
      "name": "Notify Upload",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1130, 300],
      "disabled": true
    },
    {
      "parameters": {
        "fromEmail": "rfp-system@example.com",
        "toEmail": "={{ $env.NOTIFICATION_EMAIL }}",
        "subject": "⚠️ OCR Warning: {{ $json.filename }}",
        "text": "The uploaded RFP required OCR processing, which may affect text quality.\n\nRFP ID: {{ $json.rfp_id }}\nFilename: {{ $json.filename }}\n\nPlease review the extracted text for accuracy."
      },
      "id": "ocr-warning",
      "name": "OCR Warning Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [910, 480],
      "disabled": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "message",
              "value": "RFP intake completed successfully"
            }
          ]
        },
        "options": {}
      },
      "id": "set-response",
      "name": "Set Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1350, 300]
    }
  ],
  "connections": {
    "RFP Upload Webhook": {
      "main": [
        [
          {
            "node": "Upload Document to API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Document to API": {
      "main": [
        [
          {
            "node": "OCR Used?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Used?": {
      "main": [
        [
          {
            "node": "Trigger Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OCR Warning Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR Warning Email": {
      "main": [
        [
          {
            "node": "Trigger Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Analysis": {
      "main": [
        [
          {
            "node": "Notify Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Upload": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateId": "rfp-intake"
  },
  "tags": [
    {
      "name": "RFP Intelligence"
    }
  ]
}
